*{
    box-sizing: border-box;
}

// start Navbar style


.mk-bg{
    background-color: #95808F;
    z-index: 1000;
}
.navigation{
    outline: none;
}

.navbar-brand{
    color: white;
    font-family: 'Righteous', cursive;    
    padding: 2px 0 0 0;
}
.navbar-brand i{
    font-size: 16px;
    position: relative;
    top: -2px;
}
.navbar-brand:hover{
    color: white;
}

.nav-item a{
    color: white;
    font-size: 15px;
    font-family: 'Sora', sans-serif;
    font-weight: 100;
}

.drp-account{
    background-color: #95808F;
}

i{
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    top: -1px;
}
.btn-toggle{
    margin-top: 8px;
}
.btn-toggle i{
    font-size: 22px;
}
.btn-toggle:focus{
    outline: none;
}


// End Navbar Style




// Start Footer style

footer{
    background-color: #95808F;
    .copyright {
        font-size: 14px;
        line-height: 2;
    }
}

.f-brand{
    a{
        color: white;
        font-family: 'Righteous', cursive;
        font-size: 25px;
    }
    i{
        font-size: 20px;
    }
}

.nv{
    margin: 10px 0;
    a{
        color: rgba(255, 255, 255, 0.764);
        line-height: 2;
        font-family: 'Sora', sans-serif;
        font-size: 15px;
        &:hover{
            color: white;
        }
    }
    h5{
        font-family: 'Sora', sans-serif;
        color: white;
        text-decoration: none;
        margin: 0;
        padding: 0;
        line-height: 1.8;
    }
}

// End Footer style




// Start Home Style

.schopr{
    //clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    background: linear-gradient(180deg,#95808f,white);
    // background-color: #95808fa9;
    // background: url('../images/bg-image.jpg') center center/cover;
    height: 420px;
    width: 100%;
    padding: 30px 0;
    background-clip: border-box;
    position: relative;
    margin: 45px 0 0 0;
    
    .overlay{
        backdrop-filter: blur(3px);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 1;
        z-index: 0;
    }
    .brand{
        padding: 0px 0;
        font-family: 'Righteous', cursive;
        text-align: center;
        color: #ffffff;
        position: relative;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
        margin: 40px 0;
        i{
            font-size: 40px;
            margin: auto;
        }
    }
}
  
.wdgets{
    
    .wdget{
        max-width: 120px;
        min-width: 120px;
        min-height: 120px;
        max-height: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        z-index: 100;
        background-color: rgba(100, 94, 100, 0.938);
        color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568);
        border: 4px solid #fffeff67;

        h6{
            font-family: 'Redressed', cursive;
            animation: textAnimation 3s infinite;
        }
        i{
            font-size: 30px;
            margin: 5px 0 5px 0;
            color: #ffffff;
        }
    } 
    .wdget-important{
        background-color: #6f467c;
        border: 5px solid #c4b8c9;
    }
    
    .wdget1{
        animation: animation1 5s infinite;
    }
    .wdget2{
        animation: animation2 5s infinite;
    }
    .wdget3{
        animation: animation3 5s infinite;
    }

    @keyframes textAnimation  {
        from {
            transform: rotate(0deg);
            opacity: 0.3;
        }
        to {
            transform: rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes animation1 {
        from {
            transform: rotate(0deg);
            opacity: 0.3;
        }
        to {
            transform: rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes animation2 {
        from {
            transform: rotate(0deg);
            opacity: 0.3;
          }
        to {
            transform: rotate(-360deg);
            opacity: 1;
        }
    }

    @keyframes animation3 {
        from {
            transform: rotate(0deg);
            opacity: 0.3;
          }
        to {
            transform: rotate(-360deg);
            opacity: 1;
        }
    }
}

.slider{
    margin: 80px 0;
    h3{
        font-family: 'Righteous', cursive;
        color: #6f467c;
    }
    .article{
        min-height: 300px;
        background-color: #f0ecf1;
        padding: 8px;
        position: relative;
        
        img{
            min-height: 200px;
            max-height: 200px;
            padding: 0;
            display: none;
        }
    }
}



.carousel-cell {
    width: 100%;
    min-height: 100%;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.849);
    z-index: 100;
}
.carousel{
    border-left: 10px solid #8a89899c;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}

.feedback{
    background: linear-gradient(180deg, #95808F,white);

    h1{
        font-family: 'Righteous', cursive;
        color: white;
    }

    h6{
        font-weight: 400;
        color: white;
    }

    .feedback-form{
        margin: 20px 0 20px;
        input{
            width: 100%;
            line-height: 2;
            font-size: 17px;
            outline: none;
            background: transparent;
            border: none;
            border-bottom: 1px solid #95808F;
            margin: 10px 0;
            
        }
    }
}

.slider{
    h2{
        font-family: 'Righteous', cursive;
        color: #95808F;
    }
    .product-slider{
        .product{
            border: 1px solid rgba(0, 0, 0, 0.151);
            border-radius: 12px;

            .card-header img{
                min-height: 200px;
                max-height: 200px;
            }
            @media (max-width:600px) {
                max-width: 320px;
                margin: auto;
            }
            @media (min-width:1000px) {
                min-width: 302px;
            }
        }
    }
}

// End Home Style


// start Login Style

.login{
    .frm_login{
        margin: 120px auto 70px auto;
        background-color: rgb(255, 255, 255);
        padding: 30px 60px 20px;
        border-radius: px;
        border: rgba(149, 128, 143, 0.281) 2px solid;

        @media(max-width:577px){
            min-width: 80%;
            margin: 60px auto 0px auto;
            padding: 20px;
        }
        @media(min-width:577px){
            min-width: 80%;
            margin: 80px auto 20px auto;
        }

        @media(min-width:1000px){
            min-width: 56%;
            max-width: 56%;
            margin: 120px auto 60px auto;
        }
        input[type=text],input[type=email],input[type=number],input[type=password]{
            border-bottom: 1px solid #95808f;
            border-radius: 0;
            margin-left:0px; 
            padding: 7px;
            padding-left: 0;
            &::placeholder{
                padding: 0;
            } 
        }
        input[type=text]{
            text-transform: capitalize;
        }
        .check_accept{
            margin-left: -25px;
        }
        .title{
            font-family: 'Righteous';
            margin: 0 0 30px 0;
            span{
                color: #95808f;
            }
        }
        .form-label{
            left: 0;
        }
    }
}

// End Login Style


// Plats Style 

.filter{
    // background-color: #95808fa6;
    background: linear-gradient(180deg,#95808F,#a36c94);
    background: linear-gradient(180deg,#95808F,rgba(244, 236, 210, 0.0));
    margin: 50px 0 0px 0;
    padding: 40px 0;
    height: 300px;
    
    h3{
        // font-family: 'sora',sans-serif;
        font-family: 'sora';        
        color: white;
    }

    label{
        font-family: 'sora';
        color: #a36c94;
    }

    .fl-cat{
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
        font-size: 15px;
        color: rgba(255, 255, 255, 0.904);
        margin: 0px;
        .card-header{
            display: none;
        }
        label{
            color: #262626;
        }
    }
    input[type=checkbox]{
        margin: 0 5px 0px 0;
        position: relative;
        bottom: -2px;
    }
}

.search-bar{
    margin: 20px 0;
    // background-color: rgba(61, 53, 13, 0.131);
    // background: #a36c94;
    // background: #ffffff;
    padding: 0px 0 40px;

    h3{
        color: #161616b9;
        font-family: 'sora';
        margin: 4px 0;
    }

    .btninp{
        position: relative;
        width: 100%;
    }

    input[type=text]{
        border-radius: 3px 0 0px 3px;
        text-transform:none;
        font-size: 15px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        // background-color: #95808F;
        background-color: #f5f3f5;
        color: black;
        cursor: text;
        border: 2px solid #95808F;
        height: 40px;
        &::placeholder{
            color: rgba(0, 0, 0, 0.707);
        }
        &:focus{
            border: 2px solid #398de6;
        }
        @media (max-width:379px) {
            min-width: 100%;
        }
    }
    .btn-search{
        font-size: 15px;
        text-transform:none;
        // background-color: #95808F;
        background-color: transparent;
        font-family: Righteous;
        border: 2px solid #95808F;
        color: #95808F;
    }
}

.CategoryPlats{
    @media (max-width:379px) {padding: 50px 0;}
    @media (max-width:700px) {margin: 70px 0;}
    @media (min-width:700px) {margin: 70px 0;}
    
    h2{
    font-family: 'Righteous';
    color: #95808F;
   
    @media (max-width:767px) {
        text-align: center;
    }
    @media (min-width:767px) {
        margin-left: -5px;
    } 
    @media (min-width:1200px)
    {
        margin-left: 8px;
    }
    }

    .product{
        border: 1px solid rgba(0, 0, 0, 0.158);
        border-radius: 20px;
        transition: all .6s ease;
        .card-body button{
            text-transform: none;
            transition: all .6s ease;
        }
        span.share{
            i{
                cursor: pointer;
                &:hover{
                    color: lighten(black, 40%);
                }
            }
        }
        &:hover{
            border: 1px solid #f9315259;
            // box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
            .card-body button{
                border: 2px solid #4f4f4f;
                background-color: #4f4f4f;
                color: white;
            }
        }


        @media (max-width:700px) {max-width: 280px;margin: 10px auto 10px auto;}
        @media (min-width:700px) {max-width: 45%;margin: 10px auto;}
        @media (min-width:767px){max-width: 32%;margin: 0 0 6px 8px;}
        @media (min-width:1200px){max-width: 23%;margin: 0 0 15px 20px;}
        // margin-top: 10px;
        // margin-right: 10px;

        h6{
            font-family: 'Righteous';
            font-size: 14px;
        }

        span{
            font-size: 15px;
            font-family: 'sora',sans-serif;
        }

        img{
            width: 100%;
            height: 150px;
            border-radius: 19px 19px 0 0;
        }

        .card-body{
            padding: 8px;

            button{
                margin: 8px 0 0px;
                font-weight: 600;
                width: 110px;
                font-size: 14px;
                border-radius: 25px;
            }
            
        }
    }
}

// End Plat Style


// Start user navbar (left navbar)
.navbar-left{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lighten(#000000, 40%);
    width: 250px;
    padding: 40px 0px;
    min-height: 95%;
    margin: 50px 0 0 0;
    transition: all .4s ease-out;
    @media (max-width:756px){
        
    }

    // @media (max-width:900px){
    //     display: none;
    // }

    header{
        width: max-content;
        margin: 0 auto;
        h6{
            color: white;
            font-family: sora;
        }
        
    }

    .Links{
        margin: 30px 0 0 0;
        li{
            list-style: none;
            font-size: 17px;
            // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-family: 'roboto',sans-serif;
            padding: 15px 0;
            cursor: pointer;
            transition: all .8s ease;

            a{
                color: rgba(255, 255, 255, 0.89);
            }

            i{
                color: rgba(255, 255, 255, 0.898);
                font-size: 20px;
                margin-left: 20px;
                margin-right: 25px;
                position: relative;
                top: 2px;
            }

            &:hover{
                background-color: lighten(black, 35%);
            }
        } 
    }
    .toggleOC{
        cursor: pointer;
        color: white;
        background-color: lighten(#000000, 40%);
        position: absolute;
        top: 20px;
        right: -31px;
        // padding: 4px 5px 0px;
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0 15px 15px 0;
        i{
            font-size: 18px;
        }
    }
    .mini-footer{
        p{
            font-size: 13px;
            font-weight: 100;
        }
    }
}

.Hide_LeftNavbar{
    transform: translateX(-100%) translateY(-15px);
}
// End user navbar (left navbar)


// Start User Style

// Mes Information Personnel Style
.user-info{
    margin: 65px 0 0 0;
    position: relative;
    top: 0;
    .personal-info{
        input[type=text], input[type=password],
        input[type=number], input[type=email] {
            border-bottom: 2px solid rgba(0, 0, 0, 0.391);
            border-radius: 0;
            margin: 0 10px 18px 0;
            // max-width: 450px;
            padding-left: 0;
        }
    }
}


.form-outline .form-control~.form-label{
    left: 0;
}
// End User Style


// Start Panier (Side Bar Style)
#SideBar{
    width: 350px;
    padding: 0 10px;

    .panier-header{
        padding: 20px 4px 5px;
        > i {
            span{
                font-family: sora;
            }
        } 
        button{
            float: right;
            background-color: transparent;
            i{font-size: 24px;color: #4f4f4f;}
        }
        .lines{
            line-height: 0;
            padding: 0;
            margin: 0;
        }
    }

    .panier{
        .title{
            font-family: sora;
        }
    }

    .product{
        background-color: rgb(237, 237, 237);
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.089);
        img{
            width: 80px;
            height: 80px;
            border-radius: 8%;
            border: 1px solid rgba(0, 0, 0, 0.199);
            box-shadow: #0000002d 1px 1px 3px;
            float: left;
            margin-right: 8px;
        }
        .PetM{
            margin-left: 15px;
            margin-bottom: 15px;
            .Moin,.Plus,.input{
                padding-top: 1px;
                height: 22px;
                width: 20px;
            }
            .input{
                width: 40px;
                padding-top: 8px;
                height: 25px;
            }
        }

        .price-delete{
            overflow: auto;
            height: 40px;
            margin-top: 10px;
            .price{
                font-size: 17px;
                font-family: sora;
                padding: 10px;
            }
            .btn-delete{
                border: 1px solid rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                color: red;
                // margin: 8px 0 0 0;
                float: right;
                i{
                    span{
                        font-family: sora;
                    }
                }
            }
        }
    }

}
// End Panier (Side Bar Style)








// Start Admin Page Style

// Login Page Style
.admin-login{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .brand{
        position: absolute;
        left: 15px;
        top: 20px;
        z-index: 1;
        color: white;
        span{
            font-family: righteous;
            font-size: 30px;
            font-weight: 500;
        }
        i{
            font-size: 21px;
            position: relative;
            top: -3px;
        }
    }

    &::after{
        content: "";
        width: 50%;
        background-color: #4f4f4f;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1;
        background:url('https://images.unsplash.com/photo-1532980400857-e8d9d275d858?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80') center center/cover;
    }
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        background-color: #c21e9336;
        backdrop-filter: blur(3px);
    }
    .ad-frm-login{
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.185);
        border-radius: 8px;
        padding: 20px 40px;
        width: 60%;
        margin: auto;
        position: relative;
        z-index: 1000;
        h2{
            text-align: center;
            font-family: righteous;
            span{
                color:#95808F;
            }
            sub{
                font-size: 12px;
                color: #4f4f4f;
            }
        }
        input[type=email],input[type=password]{
            border-bottom: 1px solid;
            border-radius: 0;
            padding-left: 0;
        }
        input[type=checkbox]{
            position: reltive;
            bottom: -3px;
        }
        @media ( max-width : 769px) {
            min-width: 100%;
        }
        @media (max-width : 992px) {
            width: 80%;
        }
    }

    miniFooter{
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-family: sora;
        @media (max-width:850px) {
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 8px 10px;
            left: 20px;
            right: auto;
            border-radius: 5px;
            font-size: 13px;
            margin: auto;
        }
    }

}



// Admin Navbars Style

.ad-navbar{
    .navbar{
        background-color: whitesmoke;
    }
    a,i{
        color: #000000b7;
    }
    .dropdown-menu{
        background-color: whitesmoke;
        border: 1px solid rgba(0, 0, 0, 0.212);
    }
    span.brand{
        font-size: 22px;
    }
    .fa-utensils{
        position: relative;
        top: 0px;
    }

    
}

// End Admin Page Style




// Start admin manage product
.ManageProducts{
    font-family: Sora;

    .listCategory{
        background-color: rgb(255, 255, 255);
        margin-top: 68px;
        padding: 25px;

        .btn-update-cat, .btn-delete-cat{
            &:hover{
                box-shadow: none;
            }
        }
    }
}
table{
    background-color: white;
    border-collapse: collapse;
    tr{
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.363);
    }
}


.Add_Category, .Add_Produit, .productsList{
    margin: 5px 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    a{
        font-family: sora;
    }
}

.product-description{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    outline: none;
    padding: 8px;
}

.add-Category-Modal {
    .modal-body{
        .txt-cat-name{
            border-bottom: 1px solid rgba(0, 0, 0, 0.500);
            border-radius: 0;
            padding-left: 0;
            margin-bottom: 2px;
        }
        .btn-save{
            margin-top: 0;
        }
    }
}

.add-product-modal{
    .modal-body{
        input[type=text]{
            border-bottom: 1px solid rgba(0, 0, 0, 0.500);
            border-radius: 0;
            padding-top: 8px;
            padding-left: 0;
        }
    }
}
// End admin manage product 




// Start Manage Orders Style 

.ManageOrders{
    margin: 70px 0 0 0;
    font-family: Sora;

    .orders{
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        padding: 20px;
        border-top: 5px solid rgba(0, 0, 0, 0.5);
    }
}
.infoClient,.infoCommande{
    font-size: 16px;
}

// End Manage Orders Style










// start make order style

.orderInfo{
    font-family: Sora;
    border-top: 4px solid;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    padding: 20px 30px;
    margin-top: 68px;

    table{
        tr{
            border: 1px solid rgba(0, 0, 0, 0.247);
        }
        tr,td,th{
            padding: 4px 8px;
        }
    }
}

.client-info{
    border-top: 4px solid;
    margin: 15px 0;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    padding: 20px 30px;
    font-family: sora;
    .frm-client-info{
        margin: 20px 0;
        input[type=text]{
            border-bottom: 1px solid black;
            border-radius: 0px;
            padding-left: 0;
        }
    }
}
// end make order style



// Start Manage Feedbacks style
.ManageFeedbacks{
    margin: 68px 0;
    .feedbacks{
        padding: 20px;
        font-family: Sora;
    }
}

// End Manage Feedbacks style


// Start Modal Update Product Style

#UpdateProduct{
    input[type=text]{
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        outline: none;
    }
    fieldset {
        margin: 15px 0;
        border: 1px solid silver;
        padding: 15px 20px 0;    
        border-radius: 5px;
        width: 100%;
        input[type=file]{
            margin: 0;
        }
    }
    
    legend {
        padding: 2px;    
    }
}

// End Modal Update Product Style