.EachProdPage_div{
    width: 95%;
    margin: 35px auto;
}
#SideBar{
    background-color: white;
    border: 1px solid rgba(199, 199, 199, 0.863);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 54px;
    right: 0;
}
.FicheProd, .reviews{
    display: flex;

}
.ProdPic{
    width: 100%;
}

.information{
    border: 1px solid silver;
    width: 50%;
}
.infos{
    margin: 30px 0 0 25px;
}
#desc_img{
    width: 100%;
    max-height: 565px;
}
.fa-star{
    color: orange;
    font-size: 19px;
    margin-top: 7px;
}
.avisNember{
    font-size: 19px;
    margin-left: 10px;
    color: rgb(0, 105, 224);
}
.Price{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: rgb(24, 24, 24);
    margin: 0px 0;
    font-size: 22px;
    font-family: sora;
}

.nbPersonnes, .Quantite{
    margin: 15px 0;
}

.nbPersonnes p , .Quantite p, #Review p, .description_On p{
    font-size: 17px;
    font-family: sora;
}
.listNbPer, .nbPersonnes p, .PetM, .Quantite p{
    margin: 0;
    font-family: sora;
    outline: none;
}
.input{
    width: 8%;
    border-radius: 22px;
    height: 30px;
    border: 1.5px solid rgba(128, 128, 128, 0.384);
    padding-bottom: 8px;
    text-align: center;
}
.Plus, .Moin{
    border-radius: 60px;
    width: 4%;
    height: 30px;
    border: none;
    background-color: rgba(128, 128, 128, 0.205);
}
.Plus:focus, .Moin:focus, .input:focus{
    outline: 0;
}
.shipInfo{
    margin-top: 20px;
}
.delivery{
    display:flex;
    color: rgb(107, 107, 107);

}
.trukIcon{
    height: 21px;
    margin: 4px 5px 0 0;
}
.comPan{
    margin: 20px 0 20px 0;
}
#Commander,#APanier{
    color: white;
    background-color: dodgerblue;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    padding: 4px 15px;
    border: 2px solid dodgerblue;
}
#APanier{
    /* 
    background-color: white;
    border: 2px solid orange;
    border-radius: 23px;
    width: 31%;
    height: 45px;     */
    color: orange;
    background-color: white;
    border: 2px solid orange;

}
#APanier:focus, #Commander:focus, #Description_btn:focus
, #Avis_btn:focus, .fermerSB:focus, .inputSB:focus, .btnSB:focus{
    outline: 0;
}
 #APanier:hover{
    background-color: orange;
    color: white;
}
#APanier:focus{
    background-color: rgb(223, 145, 0);
    color: white;
    border: 2px solid rgb(223, 145, 0);
}
#Commander:focus{
    background-color: rgb(25, 121, 216);
}
.OtherPic{
    margin-top: 10px;
}
#Pic3{
    height: 100px;
    margin-right: 7px;
}

#Description_btn{
    background-color: white;
    border: none;
    color: black;
}
#Description_btn h5,#Avis_btn h5{
    font-size: 25px;
    font-weight: bold;
}

#Avis_btn{
    background-color: white;
    border: none;
    color: black;
    margin-left: 28px;
}

#desc_rev_info{
    border-top: 2px solid rgba(128, 128, 128, 0.199);

}
.description_Off, .Avis_Off{
    display: none;
}

.discription_Review{
    width: 95%;
    margin: 60px auto 20px auto;
}
.Review{
    border: 1.5px solid rgba(128, 128, 128, 0.568);
    margin: 5px 0 5px 0;
    width: 95%;
}
#Review{
    padding: 10px 30px;
}
.Avis_On, .description_On{
    margin: 30px 0 30px 0;
}

.headerSB{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    background-color: rgb(228, 228, 228);
}
.shopping{
    font-size: 28px;
    margin-top: 5px;
}
.fermerSB, .btnSB{
    background-color: rgb(228, 228, 228);
    border: none;
    color: black;
    font-size: 26px;
}
.ProduitSB{
    padding-top: 20px;
    width: 94%;
    margin: 0 auto;
}
.ListDP{
    color: rgb(226, 43, 217);
}
.ProdPanier{
    background-color: rgba(209, 209, 209, 0.877);
    margin-bottom: 15px;
    padding-bottom: 2px;
}
.PrixSB{
    background-color: rgb(133, 36, 133);
    color: white;
    max-width: 50%;
    text-align: center;
    margin-left: 5px;
}
.inputSB{
    width: 10%;
    border-radius: 22px;
    height: 25px;
    border: 1.5px solid rgba(128, 128, 128, 0.384);
    padding-bottom: 5px;
    text-align: center;
    margin-left: 6px;
}
.PicTitle, .PrixSup{
    display: flex;
    width: 97%;
    margin: 0 auto;
    padding-top: 5px;

}.Quantité{
    display: flex;

}
.PhotoSB{
    height: 60px;
    margin-right: 7px;
    border-radius: 24px;
    border: 3px solid rgb(133, 36, 133);
    width: 19%;
}
.PrixSup{
    justify-content: space-between;
}
.btnSB{
    background-color: rgba(209, 209, 209, 0);
    color: red;
}

.shipInfo .info{
    line-height: 1.8;
}
.shipInfo .info i span{
    font-family: sora;
    font-weight: 400;
}

.FicheProd .infos h4{
    font-family: Righteous;
}

.avisNember{
    font-family: sora;
}

.OtherPic img{
    max-width: 90px;
    max-height: 80px;
}

.ProdPic img{
    max-width: 100%;
    height: 100%;
}

.OtherPic img{
    width: 90px;
}

.PetM .Moin,.PetM .Plus{
    width: 30px;
    text-align: center;
    padding-top: 4px;
    font-size: 17px;
}

.PetM input.input{
    margin: 0 3px;
    padding-top: 7px;  
}

.description{
    font-family: sora;
}

.comPan btn{
    font-family: sora;
}

@media (max-width:769px)
{
    .FicheProd{
        display: grid;
        grid-template-columns: auto;
        height: max-content;
    }
    .FicheProd img{
        width: 100%;
        height: 300px;
    }
    .information{
        min-width: 100%;
        margin: 20px 0 10px 0;
        border: none;
        padding: 10px 5px;
    }
    .discription_Review{
        margin-top: 30px;
        width: 100%;
    }
}

@media (min-width:769px)
{
    .FicheProd{
        display: grid;
        grid-template-columns: auto;
        max-width: 900px;
        margin: 0 auto;
    }
    .ProdPic{
        width: 100%;
    }

    .ProdPic > img{
        min-width: 100%;
    }
    .information{
        margin: 100px 0 20px;
        width: 100%;
        border: none;
    }
    .discription_Review{
        margin-top: 30px;
        width: 100%;
    }
    
}

@media (min-width: 1200px) {
    .FicheProd{
        display: grid;
        grid-template-columns: auto auto;
        max-width: 90%;
        margin: 0 auto;
    }
    .ProdPic{
        width: 100%;
    }
    .information{
        margin: 0px 0;
        width: 100%;
        height: 100%;
    }
    .discription_Review{
        margin-top: 120px;
    }
}