*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #95808F;
    display: none;
}

.navbar-brand{
    color: white;
    font-family: 'Righteous', cursive;    
    padding: 2px 0 0 0;
}
.navbar-brand i{
    font-size: 16px;
    position: relative;
    top: -2px;
}
.navbar-brand a:hover{
    color: white;
}

.nav-item a{
    color: white;
    font-size: 15px;
    font-family: 'Sora', sans-serif;
    font-weight: 100;
}

.drp-account{
    background-color: #95808F;
    /* background: none;
    border: none; */
}

i{
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    top: -1px;
}
.btn-toggle{
    margin-top: 8px;
}
.btn-toggle i{
    font-size: 22px;
}
.btn-toggle:focus{
    outline: none;
}
